.reserv_page {
  display: flex;
  justify-content: center;
  background-color: var(--grey);
}

.reserv_page_color_pad {
  padding: 0rem 6rem 0rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reserv_page_all {
  display: flex;
  flex-direction: row;
}

.reserv_page_right {
  border-radius: 8px;
  background-color: var(--light);
  padding: 1rem 0rem 1rem 0rem;
  width: 24rem;
  height: 42rem;
  margin-left: 20px;
}

.reserv_page_left {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reserv_page_data {
  border-radius: 8px;
  background-color: var(--light);
  padding: 1rem;
  width: 55rem;
  height: 190px;
}

.reserv_page_schedule {
  display: flex;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--light);
  padding: 1rem;
  width: 55rem;
  height: 330px;
}

.reserv_page_time {
  border-radius: 8px;
  background-color: var(--light);
  padding: 1rem 0rem 1rem 0rem;
  width: 55rem;
  height: 190px;
}

.reserv_page_color_pad h4 {
  font-weight: bold;
  margin-top: 10px;
}

.reserv_page_img {
  object-fit: contain;
}

@media (max-width: 1000px) {
  .reserv_page_all {
    padding: 0rem 4rem 0rem 4rem;
  }
}

@media (max-width: 800px) {
  .reserv_page_all {
    padding: 0rem 2rem 0rem 2rem;
  }
}

@media (max-width: 600px) {
  .reserv_page_all {
    padding: 0rem 1rem 0rem 1rem;
  }
}
